<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                       http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <display-name>Personal Cabinet</display-name>

    <welcome-file-list>
        <welcome-file>home</welcome-file>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>com.perscab.servlets.MainServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.perscab.servlets.TestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InternetServlet</servlet-name>
        <servlet-class>com.perscab.servlets.InternetServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>InternetServlet</servlet-name>
        <url-pattern>/internet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TVServlet</servlet-name>
        <servlet-class>com.perscab.servlets.TVServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TVServlet</servlet-name>
        <url-pattern>/tv</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PhoneServlet</servlet-name>
        <servlet-class>com.perscab.servlets.PhoneServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PhoneServlet</servlet-name>
        <url-pattern>/phone</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BillingServlet</servlet-name>
        <servlet-class>com.perscab.servlets.BillingServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BillingServlet</servlet-name>
        <url-pattern>/billing</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HelpServlet</servlet-name>
        <servlet-class>com.perscab.servlets.HelpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelpServlet</servlet-name>
        <url-pattern>/help</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.perscab.servlets.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManageServiceServlet</servlet-name>
        <servlet-class>com.perscab.servlets.ManageServiceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ManageServiceServlet</servlet-name>
        <url-pattern>/manage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PlansListServlet</servlet-name>
        <servlet-class>com.perscab.servlets.PlansListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PlansListServlet</servlet-name>
        <url-pattern>/plans</url-pattern>
    </servlet-mapping>

</web-app>
